In [1]:
#declaring an empty tuple.
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []
type(l)

list

In [7]:
t = (234,"yudi",3234.5332,True,5+6j)

In [8]:
t

(234, 'yudi', 3234.5332, True, (5+6j))

In [9]:
t[0:3]

(234, 'yudi', 3234.5332)

In [10]:
t[::-1]

((5+6j), True, 3234.5332, 'yudi', 234)

In [11]:
t[0]  = "Hello"

TypeError: 'tuple' object does not support item assignment

In [12]:
e = (456,"is", False,"Jack",5+7j)
t = (234,"yudi",234,234,3234.5332,True,5+6j)
print(type(e))
print(type(t))

<class 'tuple'>
<class 'tuple'>

In [13]:
t+e

(234,
 'yudi',
 234,
 234,
 3234.5332,
 True,
 (5+6j),
 456,
 'is',
 False,
 'Jack',
 (5+7j))

In [14]:
t*2

(234,
 'yudi',
 234,
 234,
 3234.5332,
 True,
 (5+6j),
 234,
 'yudi',
 234,
 234,
 3234.5332,
 True,
 (5+6j))

In [15]:
234 in (t+e)

True

In [16]:
q = (234, 1234,  3234, 533)
min(q)

234

In [17]:
d = t+e
d.count(234)

3

In [18]:
d

(234,
 'yudi',
 234,
 234,
 3234.5332,
 True,
 (5+6j),
 456,
 'is',
 False,
 'Jack',
 (5+7j))

In [19]:
 f = 89.25

In [20]:
f

89.25

In [21]:
s = list(d) # Converting a tuple into a list.

In [22]:
s

[234,
 'yudi',
 234,
 234,
 3234.5332,
 True,
 (5+6j),
 456,
 'is',
 False,
 'Jack',
 (5+7j)]

In [37]:
type(s)

list

In [38]:
s.insert(2,f)

In [40]:
s # New list with the data at index 2.

[234,
 'yudi',
 89.25,
 234,
 234,
 3234.5332,
 True,
 (5+6j),
 456,
 'is',
 False,
 'Jack',
 (5+7j)]

In [46]:
a = tuple(s)

In [47]:
type(a)

tuple

In [24]:
j = ("true", True,(234,456,2344,"nested tuples") , 2,3.25,4,24.4, "hello",(34.34,665,True,False),("yudi","hello","yellow"))

In [25]:
j

('true',
 True,
 (234, 456, 2344, 'nested tuples'),
 2,
 3.25,
 4,
 24.4,
 'hello',
 (34.34, 665, True, False),
 ('yudi', 'hello', 'yellow'))

In [26]:
# Indexing in a tuple
print(j[2][2])
print(j[3])
print(j[1])
print(j[8][3])
print(j[9][1])

2344
2
True
False
hello

In [63]:
j[2][2]

2344

In [68]:
# printing all data:
print("All data present in the tuple: \n")
for i in j :
    print(i)

All data present in the tuple:

true
True
(234, 456, 2344, 'nested tuples')
2
3.25
4
24.4
hello
(34.34, 665, True, False)
('yudi', 'hello', 'yellow')

In [65]:
# checking for a nested tuple in a tuple and printing the value at the first index
for i in j:
    if type(i) == tuple:
        print(i[0])44

234
34.34
yudi

In [101]:
l = [23,23,23,23,23,34,34,34,34,34,"yudi","yudi"]

In [102]:
l

[23, 23, 23, 23, 23, 34, 34, 34, 34, 34, 'yudi', 'yudi']

In [103]:
x = set(l)

In [104]:
x

{23, 34, 'yudi'}

In [105]:
type(x)

set

In [106]:
s = ["yudi"]

In [107]:
x+s

TypeError: unsupported operand type(s) for +: 'set' and 'list'

In [110]:
c = 45

In [112]:
x.add(c)

In [114]:
print(x)

{34, 'yudi', 45, 23}

In [117]:
a = ("yudu",2,23,4,5,3,3,True)

In [118]:
type(a)

tuple

In [119]:
a = set()

In [120]:
type(a)

set

In [121]:
b = ("rtyu")
b = set()

In [122]:
type(b)

set

In [123]:
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [124]:
a*5

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [1]:
# We can define a dictionary as:
x = {"name":"yudi","age":26,"A student": True}
print(x)

{'name': 'yudi', 'age': 26, 'A student': True}

In [2]:
type(x)

dict

In [11]:
x1 = {"name":"yudi","age":26,"name":"kjadhsk","name":"wjhejhj",True:"jshsjkdh","key":False,34554:3433}

In [9]:
type(x1)

dict

In [12]:
x1

{'name': 'wjhejhj', 'age': 26, True: 'jshsjkdh', 'key': False, 34554: 3433}

In [22]:
u = {"name":"yudi","age":26,"name":"kjadhsk","name1":"wjhejhj",True:{45,3454,24,54},"key":False,34554:3433}

In [23]:
u

{'name': 'kjadhsk',
 'age': 26,
 'name1': 'wjhejhj',
 True: {24, 45, 54, 3454},
 'key': False,
 34554: 3433}

In [36]:
u = {"name":"yudi","age":26,"name":"kjadhsk","name1":"wjhejhj",True:[45,3454,24,54],"key":False,34554:3433}

In [37]:
u

{'name': 'kjadhsk',
 'age': 26,
 'name1': 'wjhejhj',
 True: [45, 3454, 24, 54],
 'key': False,
 34554: 3433}

In [43]:
u["name"]

'kjadhsk'

In [44]:
u[34554] = 123 #changing data

In [45]:
u[True][3] #in case of lists

54

In [46]:
u[34554]

123

In [47]:
u

{'name': 'kjadhsk',
 'age': 26,
 'name1': 'wjhejhj',
 True: [45, 3454, 24, 54],
 'key': False,
 34554: 123}

In [48]:
u.keys()

dict_keys(['name', 'age', 'name1', True, 'key', 34554])

In [49]:
for i in u.keys():
    print(u[i])

kjadhsk
26
wjhejhj
[45, 3454, 24, 54]
False
123

In [50]:
for i in u.keys():
    print(type(u[i]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'int'>

In [51]:
u.items()

dict_items([('name', 'kjadhsk'), ('age', 26), ('name1', 'wjhejhj'), (True, [45, 3454, 24, 54]), ('key', False), (34554, 123)])

In [54]:
for i in u.items():
    print(i)

('name', 'kjadhsk')
('age', 26)
('name1', 'wjhejhj')
(True, [45, 3454, 24, 54])
('key', False)
(34554, 123)

In [55]:
len(u)

6

In [57]:
u[True][2]

24

In [27]:
# Iterating a dictionary:
d = {"company":"iNeuron","Course":"Full Stack Data Science","year":2021}

In [28]:
d

{'company': 'iNeuron', 'Course': 'Full Stack Data Science', 'year': 2021}

In [29]:
for i in d:
    print("The key: ",i,"\nThe value:",d[i])

The key:  company
The value: iNeuron
The key:  Course
The value: Full Stack Data Science
The key:  year
The value: 2021

In [6]:
"course" in d

False

In [7]:
# find and update if data not as desired.
for i in d:
    if i == "year":
        if d[i] > 2021:
            print("year is alright!")
        else:
            d[i] = 2022

In [8]:
d

{'company': 'iNeuron', 'Course': 'Full Stack Data Science', 'year': 2022}

In [10]:
# Checking in the updated list.
for i in d:
    if i == "year":
        if d[i] > 2021:
            print("year is alright!")
        else:
            d[i] = 2022

year is alright!

In [18]:
my = {}
for i in range(1,11):
    my[i] = i*i
print(my)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [17]:
# Dictionary Comprehension:

{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [30]:
# Dictionary Comprehension (Even Nos):

{i:i*i for i in range(0,11,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}